# Environment files and folders
.env
.env.*
!.env.example
myenv/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
dist/
build/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
venv/
env/
ENV/
.venv/
.python-version
rag_faiss_store/

# OS generated
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

